{
    "presets": [
        "next/babel",
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": [
        "lodash",
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@styles": "./styles"
                }
            }
        ]
    ]
}